Binaries/*
DerivedDataCache/*
Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Saved/*

*.sln
.vs/*
*.log
*.rar

Build/*
Content/Models/*
Content/VoxelVideos/*
Content/StarterContent/*
Content/Collections/*
Content/FPWeapon/*
Content/Geometry/*
Content/VRSpectator/*
Content/StarterContent/*
Content/ThirdPerson/*
Content/Mannequin/*
Content/ThirdPersonBP/*

WindowsNoEditor/*